/*
========================================================================================
    Nextflow config file for running nf-test tests
========================================================================================
*/

// Or any resources requirements
params {
    modules_testdata_base_path   = "https://raw.githubusercontent.com/davide-scognamiglio/test-datasets/"
    pipelines_testdata_base_path = "https://raw.githubusercontent.com/davide-scognamiglio/test-datasets/"
}

aws.client.anonymous = true // fixes S3 access issues on self-hosted runners

