params {
    // ------- BASIC PARAMS - MANDATORY -------------------------------------------------------------------------------
    input                      = "tests/data/samplesheet.csv"
    outdir                     = "musa_output"
    workflow                   = "annotate" // type of analysis: germline, setup, benchmark. If not defined, benchmark is used   
    vcf_format                 = "multicaller" // sarek or multicaller
    center                     = ""
    // ------- GENEBE PARAMS - REQUIRED IF OFFLINE == FALSE -----------------------------------------------------------
    // Set via env vars, do not hardcode secrets here: GENEBE_USER, GENEBE_API_KEY, HTTP_PROXY, HTTPS_PROXY
    gb_user                    = System.getenv('GENEBE_USER')
    gb_api_key                 = System.getenv('GENEBE_API_KEY')
    http_proxy                 = System.getenv('HTTP_PROXY')
    https_proxy                = System.getenv('HTTPS_PROXY')
    // ------- VEP PARAMS ---------------------------------------------------------------------------------------------
    n_core                     = "16"
    use_vep_plugins            = false
}

